.renkler {
    color: #764927 !important;
}
.formlar{
    border: 1px solid #E2BAA1;
    border-radius: 2%;
    max-width: 784px;
}
.sidebar{
    background-color: #2D2316;
    color: #764927;
}
.buton{
    border-top: 1px solid rgba(0,0,0,.25);
}
.btn-outline-secondary{
    color: #764927;
}
.btn-outline-secondary:hover{
    background-color: #764927;
    color: #E2BAA1;
}